$themes: (
  light: (
    backgroundColor:brown,
    h1Color:orange,
    h2Color:gray,
    borderRadius: 20px
  ),
  dark: (
    backgroundColor:darkGreen,
    h1Color:darkBlue,
    h2Color:darkRed,
    borderRadius: 5px
  ),
);
